.element {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    width: 40%;
    padding: 20px 0;
    background-color: rgb(194, 186, 186);
    box-shadow: 0 0 2px 1px darken($main-color, 30%);

    &__h1 {
        flex-basis: 100%;
        text-align: center;
        padding: 10px;
        color: rgb(117, 98, 98);
        background-color: rgba($main-color, 0.2);
    }

    &__input {
        flex-basis: 42%;
        justify-content: space-between;
        margin-top: 20px;
        padding: 5px 10px;
        color: rgb(117, 98, 98);

        &::placeholder {
            color: lighten($color: $main-color, $amount: 25%)
        }
    }

    &__btn {
        flex-basis: 60%;
        margin: 20px auto;
        padding: 10px 20px;
        cursor: pointer;
        background-color: $main-color;
        color: white;
        transition: .3s;

        &:hover {
            background-color: darken($color: $main-color, $amount: 25%);
        }

    }
}